/* CSS Document */

/* @group structure */

#head 		{ background-color: #e1ecf6; 
				height: 100px;
				padding-top:0px; 
				}
				 
.wrap 		{ width: 900px; 
				margin: 0 auto; 
				}


/* @group core nav menu */

#nav 		{ margin: 0; padding: 0; 
				list-style: none; 
				height: 30px; 
				padding-left: 0px; 
				padding-right: 15px; 
				background-color: #fff; 
				}
 
#nav li 		{ float: left; display: block; 
				background-color:transparent; 
				position: relative; 
				z-index: 999; 
				margin: 0 1px; 
				}
 
#nav li a 	{ display: block; 
				padding: 0; 
				font-weight: bold; line-height: 50px; 
				text-decoration: none;  
				color: #818ba3; 
				zoom: 1; 
				padding: 0px 12px; 
				}

#nav li a:hover, #nav li a.hov { background-color: #fff; 
							color: #576482; 
							}


/* @group subnav */

#nav ul 			{ position: absolute; left: 1px; display: none; 
					margin: 0; padding: 0; 
					list-style: none; 
					padding-bottom: 3px; 
					}	

#nav ul li 		{ width: 180px; float: left; 
					text-align: left; background-color:#fff; 
					}

#nav ul li:hover 	{	}

